<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pb-go: show snippet</title>
</head>
<body>
<div class="container">
    <div class="content-container">
        <pre class="prettyprint">
{{.Content}}
        </pre>
    </div>
    <p>This site is proudly hosted using <a href="https://github.com/kmahyyg/pb-go">pb-go</a>. </p>
</div>
</body>
</html>
